{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'productall.css' %}">
    <title>Mobiles | G-mart | You Desire We Deliver</title>
    <style>
        #searchbar {
            width: 550px;
            height: 37px;
        }

        .navbar-brand {
            font-size: 25px;
            font-weight: 750;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: #ffffff;
            font-size: 17px;
            font-weight: 500;
        }


        .pricelink {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }

        .pricelink:hover {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }

        /* .nav2 {
            background-color: #FFFFFF;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px 0px;
            height: 111.8px;
        } */

        .citem:hover a {
            color: #2874f0;
            /* background-color: black; */
        }

        .citem:hover ul li a {
            color: black;
        }

        .dropdown-menu:hover a {
            color: #000;
        }

        .carousel-control-prev {
            position: absolute;
            top: 88px;
            bottom: 88px;
            width: 4%;
        }

        .carousel-control-next {
            position: absolute;
            top: 88px;
            bottom: 88px;
            width: 4%;
        }

        .carousel-btn {
            background-color: white;
            opacity: 0.9;
            box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 5px 0px;
            border-radius: 8px;
            width: 47px;
        }

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            -webkit-filter: invert(100%);
            filter: invert(100%);
        }

        .carousel-control-prev {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .carousel-control-next {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .btn-light:hover {
            color: #000;
            background-color: #ebeef2;
            border-color: #f9fafb;
        }

        .card-class {
            width: 300px;
        }

        .card {
            word-wrap: normal;
            width: 16rem;
        }

        .slider-class {
            box-shadow: rgba(0, 0, 0, 0.09) 4px 2px 4px 2px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .footerdiv {
            height: 346.6px;
            background-color: #172337;
        }

        .footersubhead {
            color: #878787;
            margin-bottom: 9px;
        }

        .footerdiv1 {
            margin: 0 78px 0 65px;
            padding: 40px 0 0 0;
        }

        .footerdiv2 {
            height: 72.8px;
            border-top: 1px solid #454D5E;
            margin: 40px 0 0 0;
            padding: 25px 0 25px 0;
        }

        .footerdivcon {
            flex: 1;
            font-size: 12px;
            -webkit-flex: 1;
            -ms-flex: 1;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
        }

        .footerdivm {
            display: flex;
            -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .footerdivc {
            flex: 1;
            font-size: 12px;
            -webkit-flex: 1;
            -ms-flex: 1;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
        }

        .footerdivcon p {
            color: white;
            margin: 0px;
        }

        .footerdivcon a {
            text-decoration: none;
            color: white;
            line-height: 24px;
        }

        .footerdivcon a:hover {
            text-decoration: underline;
        }

        .footer2con {
            font-size: 14px;
            color: white;
            font-family: 'Roboto', sans-serif;
        }

        .footer2con a {
            font-size: 14px;
            color: white;
            text-decoration: none;
        }

        .footer2con p {
            font-size: 14px;
            color: white;
            text-decoration: none;
        }

        .mhead {
            font-family: Roboto, Arial, sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 25.2px;
            text-decoration: none solid rgb(33, 33, 33);
            word-spacing: 0px;
        }
    </style>
</head>

<body>
    <!-- Navbar-1 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid ps-5 ms-5">
            <a class="navbar-brand ps-5 ms-5" href="/">G-Mart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex" id="searchbar">
                <input class="form-control me-2" width="400px" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success bi bi-search" type="submit"></button>

            </form>
            <div class="collapse navbar-collapse ps-5 ms-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
                    <li class="nav-item pe-4">
                        <a href="" type="button" class="btn btn-outline-light">LOGIN</a>
                    </li>
                    <li class="nav-item dropdown pe-4">
                        <a class="nav-link dropdown-toggle drp" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item pe-3">
                        <a href="" type="button" class="btn btn-dark position-relative bi bi-cart3"> Cart
                            <span class="badge bg-danger rounded-pill">0</span>
                            </span>
                        </a>
                        <!-- <a class="nav-link " href="#"></a> -->
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- navbar-2 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light ps-5 pe-5 nav2">
        <div class="container-fluid ps-5 ms-5 pe-5 me-5">
            <div class="d-flex flex-column justify-content-center align-items-center citem">
                <a class="nav2link" href="/mobile">Mobiles</a>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center citem">
                <div class="dropdown">
                    <a class="dropdown-toggle drp nav2link" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Fashion
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/fashion/Men">Men</a></li>
                        <li><a class="dropdown-item" href="/fashion/Women">Women</a></li>
                        <!-- <li> -->
                        <!-- <hr class="dropdown-divider">
                        </li> -->
                        <li><a class="dropdown-item" href="/fashion/Kids">Kids</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center citem">
                <div class="dropdown">
                    <a class="dropdown-toggle drp nav2link" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Electronics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/laptop">Laptop</a></li>
                        <li><a class="dropdown-item" href="/tablet">Tablets</a></li>
                        <li><a class="dropdown-item" href="/headphone">Headphones</a></li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li> -->
                        <li><a class="dropdown-item" href="/camera">Camera</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center citem">
                <div class="dropdown">
                    <a class="dropdown-toggle drp nav2link" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Appliances
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/television">Televisions</a></li>
                        <li><a class="dropdown-item" href="/washingmachine">Washing Machine</a></li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li> -->
                        <li><a class="dropdown-item" href="/refrigerator">Refrigerator</a></li>
                        <li><a class="dropdown-item" href="/airconditioner">Air conditioner</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center citem">
                <a class="nav2link" href="#">Books</a>
            </div>
        </div>
    </nav>
    <!-- all item in div -->
    <div class="maincon" height="5000px">
        <div class="mhead">
            Great Appliances Deals
        </div>
        <a href="/mobile">
            <div>
                <img src="{% static 'appadvt/a1.jpg' %}" alt="">
                <img src="{% static 'appadvt/a2.jpg' %}" alt="">
            </div>
        </a>
        <div class="d-flex flex-row">
            <div width="25%"><img src="{% static 'appadvt/a1.png' %}" alt=""></div>
            <div width="25%"><img src="{% static 'appadvt/a2.png' %}" alt=""></div>
            <div width="25%"><img src="{% static 'appadvt/a3.jpg' %}" alt=""></div>
            <div width="25%"><img src="{% static 'appadvt/a3.png' %}" alt=""></div>
        </div>
        <div>
            <img src="{% static 'appadvt/a4.jpg' %}" alt="">
        </div>
        <!-- Televisions Slider -->
        <div class="d-flex flex-row slider-class">
            <div class="card d-flex align-items-center ">
                <img height="180px" style="padding-top:40px; padding-left: 10px; padding-right: 10px;"
                    src="{% static 'images/television_offer.jpeg'%}" class="card-img-top" alt="...">
                <h5 class="card-title my-2" style="text-align: center;">Great Deals on Televisions Buy Now</h5>
                <a href="/television" class="btn btn-primary">View All</a>
            </div>
            <div class="carousel-inner">
                <div id="Televisions" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false"
                    data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex flex-row">
                                {% for j in t1 %}
                                <div class="card">
                                    <div class="d-flex justify-content-center">
                                        <a href="/television"><img height="160px" width="80px"
                                                style="padding: 10px 10px; width: 220px;" src="{{j.img1.url}}"
                                                class="card-img-top" alt="..."></a>
                                    </div>
                                    <div class="card-body">
                                        <a class="nav2link" href="/television">
                                            <h5 class="card-title" style="margin-bottom: 0.3rem;">{{j.product_name}}
                                            </h5>
                                        </a>
                                        <p class="card-text" style="margin-bottom: 0.2rem;"><span
                                                class="badge bg-success">{{j.rating }} <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
                                                    style="vertical-align: baseline;">
                                                    <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg></span></p>
                                        <a class="pricelink" href="/television" style="font-size:20px;">
                                            <p class="card-text" style="margin-bottom: 0rem;">₹{{j.price}}</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for i in t2 %}
                        <div class="carousel-item">
                            <div class="d-flex flex-row">
                                {% for j in i %}
                                <div class="card">
                                    <div class="d-flex justify-content-center">
                                        <a href="/television"><img height="160px" width="80px"
                                                style="padding: 10px 10px; width: 220px;" src="{{j.img1.url}}"
                                                class="card-img-top" alt="..."></a>
                                    </div>
                                    <div class="card-body">
                                        <a class="nav2link" href="/television">
                                            <h5 class="card-title" style="margin-bottom: 0.3rem;">{{j.product_name}}
                                            </h5>
                                        </a>
                                        <p class="card-text" style="margin-bottom: 0.2rem;"><span
                                                class="badge bg-success">{{j.rating }} <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
                                                    style="vertical-align: baseline;">
                                                    <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg></span></p>
                                        <a class="pricelink" href="/television" style="font-size:20px;">
                                            <p class="card-text" style="margin-bottom: 0rem;">₹{{j.price}}</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev btn btn-light carousel-btn" type="button"
                        data-bs-target="#Televisions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next btn btn-light carousel-btn" type="button"
                        data-bs-target="#Televisions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static 'appadvt/a5.jpg' %}" alt="">
        </div>
        <!-- Washing Machine Slider -->
        <div class="d-flex flex-row slider-class">
            <div class="card d-flex align-items-center ">
                <img height="200px" src="{% static 'images/wash.jpeg'%}" class="card-img-top" alt="...">
                <h5 class="card-title my-2" style="text-align: center;">Great Deal on Washing Machine Buy Now</h5>
                <a href="/washingmachine" class="btn btn-primary">View All</a>
            </div>
            <div class="carousel-inner">
                <div id="washing" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false"
                    data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex flex-row">
                                {% for j in w1 %}
                                <div class="card">
                                    <div class="d-flex justify-content-center">
                                        <a href="/washingmachine"><img height="200px" width="80px"
                                                style="padding: 10px 10px; width: 140px;" src="{{j.img1.url}}"
                                                class="card-img-top" alt="..."></a>
                                    </div>
                                    <div class="card-body">
                                        <a class="nav2link" href="/washingmachine">
                                            <h5 class="card-title" style="margin-bottom: 0.3rem;">{{j.product_name}}
                                            </h5>
                                        </a>
                                        <p class="card-text" style="margin-bottom: 0.2rem;"><span
                                                class="badge bg-success">{{j.rating }} <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
                                                    style="vertical-align: baseline;">
                                                    <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg></span></p>
                                        <a class="pricelink" href="/washingmachine" style="font-size:20px;">
                                            <p class="card-text" style="margin-bottom: 0rem;">₹{{j.price}}</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for i in w2 %}
                        <div class="carousel-item">
                            <div class="d-flex flex-row">
                                {% for j in i %}
                                <div class="card">
                                    <div class="d-flex justify-content-center">
                                        <a href="/washingmachine"><img height="200px" width="80px"
                                                style="padding: 10px 10px; width: 140px;" src="{{j.img1.url}}"
                                                class="card-img-top" alt="..."></a>
                                    </div>
                                    <div class="card-body">
                                        <a class="nav2link" href="/washingmachine">
                                            <h5 class="card-title" style="margin-bottom: 0.3rem;">{{j.product_name}}
                                            </h5>
                                        </a>
                                        <p class="card-text" style="margin-bottom: 0.2rem;"><span
                                                class="badge bg-success">{{j.rating }} <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
                                                    style="vertical-align: baseline;">
                                                    <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg></span></p>
                                        <a class="pricelink" href="/washingmachine" style="font-size:20px;">
                                            <p class="card-text" style="margin-bottom: 0rem;">₹{{j.price}}</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev btn btn-light carousel-btn" type="button"
                        data-bs-target="#washing" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next btn btn-light carousel-btn" type="button"
                        data-bs-target="#washing" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static 'appadvt/a6.jpg' %}" alt="">
        </div>
        <!-- Refrigerator Slider -->
        <div class="d-flex flex-row slider-class">
            <div class="card d-flex align-items-center ">
                <img height="200px" src="{% static 'images/ref.jpeg'%}" class="card-img-top" alt="...">
                <h5 class="card-title my-2" style="text-align: center;">Great Deal on Refrigerator Buy Now</h5>
                <a href="/refrigerator" class="btn btn-primary">View All</a>
            </div>
            <div class="carousel-inner">
                <div id="Refrigerator" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false"
                    data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex flex-row">
                                {% for j in r1 %}
                                <div class="card">
                                    <div class="d-flex justify-content-center">
                                        <a href="/refrigerator"><img height="200px" width="80px"
                                                style="padding: 10px 10px; width: 110px;" src="{{j.img1.url}}"
                                                class="card-img-top" alt="..."></a>
                                    </div>
                                    <div class="card-body">
                                        <a class="nav2link" href="/refrigerator">
                                            <h5 class="card-title" style="margin-bottom: 0.3rem;">{{j.product_name}}
                                            </h5>
                                        </a>
                                        <p class="card-text" style="margin-bottom: 0.2rem;"><span
                                                class="badge bg-success">{{j.rating }} <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
                                                    style="vertical-align: baseline;">
                                                    <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg></span></p>
                                        <a class="pricelink" href="/refrigerator" style="font-size:20px;">
                                            <p class="card-text" style="margin-bottom: 0rem;">₹{{j.price}}</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for i in r2 %}
                        <div class="carousel-item">
                            <div class="d-flex flex-row">
                                {% for j in i %}
                                <div class="card">
                                    <div class="d-flex justify-content-center">
                                        <a href="/refrigerator"><img height="200px" width="80px"
                                                style="padding: 10px 10px; width: 110px;" src="{{j.img1.url}}"
                                                class="card-img-top" alt="..."></a>
                                    </div>
                                    <div class="card-body">
                                        <a class="nav2link" href="/refrigerator">
                                            <h5 class="card-title" style="margin-bottom: 0.3rem;">{{j.product_name}}
                                            </h5>
                                        </a>
                                        <p class="card-text" style="margin-bottom: 0.2rem;"><span
                                                class="badge bg-success">{{j.rating }} <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
                                                    style="vertical-align: baseline;">
                                                    <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg></span></p>
                                        <a class="pricelink" href="/refrigerator" style="font-size:20px;">
                                            <p class="card-text" style="margin-bottom: 0rem;">₹{{j.price}}</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev btn btn-light carousel-btn" type="button"
                        data-bs-target="#Refrigerator" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next btn btn-light carousel-btn" type="button"
                        data-bs-target="#Refrigerator" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static 'appadvt/a7.jpg' %}" alt="">
        </div>
        <!-- Air conditioner Slider -->
        <div class="d-flex flex-row slider-class">
            <div class="card d-flex align-items-center ">
                <img height="200px" src="{% static 'images/ac.jpg'%}" class="card-img-top" alt="...">
                <h5 class="card-title my-2" style="text-align: center;">Great Deal on Air conditioner Buy Now</h5>
                <a href="/airconditioner" class="btn btn-primary">View All</a>
            </div>
            <div class="carousel-inner">
                <div id="Air" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false"
                    data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex flex-row">
                                {% for j in a1 %}
                                <div class="card">
                                    <div class="d-flex justify-content-center">
                                        <a href="/airconditioner"><img height="100px" width="100px"
                                                style="padding: 10px 10px; width: 220px; margin: 20px 0px;" src="{{j.img1.url}}"
                                                class="card-img-top" alt="..."></a>
                                    </div>
                                    <div class="card-body">
                                        <a class="nav2link" href="/airconditioner">
                                            <h5 class="card-title" style="margin-bottom: 0.3rem;">{{j.product_name}}
                                            </h5>
                                        </a>
                                        <p class="card-text" style="margin-bottom: 0.2rem;"><span
                                                class="badge bg-success">{{j.rating }} <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
                                                    style="vertical-align: baseline;">
                                                    <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg></span></p>
                                        <a class="pricelink" href="/airconditioner" style="font-size:20px;">
                                            <p class="card-text" style="margin-bottom: 0rem;">₹{{j.price}}</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for i in a2 %}
                        <div class="carousel-item">
                            <div class="d-flex flex-row">
                                {% for j in i %}
                                <div class="card">
                                    <div class="d-flex justify-content-center">
                                        <a href="/airconditioner"><img height="100px" width="80px"
                                                style="padding: 10px 10px; width: 220px; margin: 20px 0px;" src="{{j.img1.url}}"
                                                class="card-img-top" alt="..."></a>
                                    </div>
                                    <div class="card-body">
                                        <a class="nav2link" href="/airconditioner">
                                            <h5 class="card-title" style="margin-bottom: 0.3rem;">{{j.product_name}}
                                            </h5>
                                        </a>
                                        <p class="card-text" style="margin-bottom: 0.2rem;"><span
                                                class="badge bg-success">{{j.rating }} <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
                                                    style="vertical-align: baseline;">
                                                    <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg></span></p>
                                        <a class="pricelink" href="/airconditioner" style="font-size:20px;">
                                            <p class="card-text" style="margin-bottom: 0rem;">₹{{j.price}}</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev btn btn-light carousel-btn" type="button" data-bs-target="#Air"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next btn btn-light carousel-btn" type="button" data-bs-target="#Air"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footerdiv">
            <div class="footerdiv1 d-flex flex-row">
                <div class="footerdivcon">
                    <div class="d-flex flex-column">
                        <div class="footersubhead">
                            ABOUT
                        </div>
                        <a href="">Contact Us</a>
                        <a href="">About Us</a>
                        <a href="">Careers</a>
                        <a href="">G-mart Stories</a>
                        <a href="">Press</a>
                        <a href="">G-mart Wholesales</a>
                        <a href="">Corporate Information</a>
                    </div>
                </div>
                <div class="footerdivcon">
                    <div class="d-flex flex-column">
                        <div class="footersubhead">
                            HELP
                        </div>
                        <a href="">Payments</a>
                        <a href="">Shipping</a>
                        <a href="">Cancellation & Returns</a>
                        <a href="">FAQ</a>
                        <a href="">Report Infringement</a>
                    </div>
                </div>
                <div class="footerdivcon">
                    <div class="d-flex flex-column">
                        <div class="footersubhead">
                            POLICY
                        </div>
                        <a href="">Return Policy</a>
                        <a href="">Terms Of Use</a>
                        <a href="">Security</a>
                        <a href="">Privacy</a>
                        <a href="">Sitemap</a>
                        <a href="">EPR Compliance</a>
                    </div>
                </div>
                <div class="footerdivcon">
                    <div class="d-flex flex-column">
                        <div class="footersubhead">
                            SOCIAL
                        </div>
                        <a href="">Facebook</a>
                        <a href="">Twitter</a>
                        <a href="">YouTube</a>
                        <a href="">Instagram</a>
                    </div>
                </div>
                <div class="footerdivcon">
                    <div class="d-flex flex-column" style="border-left: 1px solid  #454D5E; padding: 0 25px 0 25px;">
                        <div class="footersubhead">
                            Mail Us:
                        </div>
                        <div style="white-space: nowrap;">
                            <p>G-mart Internet Private Limited,</p>
                            <p>Buildings Alyssa, Begonia &</p>
                            <p>Clove Embassy Tech Village,</p>
                            <p>
                                Outer Ring Road, Devarabeesanahalli Village,
                            </p>
                            <p>Bengaluru, 560103,</p>
                            <p>Karnataka, India</p>
                        </div>
                    </div>
                </div>
                <div class="footerdivcon">
                    <div class="d-flex flex-column" style="margin: 0 0 10px 0;
                    padding: 0 0 0 14px;
                    ">
                        <div class="footersubhead">
                            Registered Office Address:
                        </div>
                        <div style="white-space: nowrap;">
                            <p>G-mart Internet Private Limited,</p>
                            <p>Buildings Alyssa, Begonia &</p>
                            <p>Clove Embassy Tech Village,</p>
                            <p>
                                Outer Ring Road, Devarabeesanahalli Village,
                            </p>
                            <p>Bengaluru, 560103,</p>
                            <p>Karnataka, India</p>
                            <p style="margin: 0px; padding: 0px; line-height: 1.5;">CIN : U51109KA2012PTC066107</p>
                            <p style="margin: 0px; line-height: 1.5;">Telephone: <a
                                    style="margin: 0px;line-height: 1.5;color: #2874F0;" href="">1800 202 9898</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerdiv2 d-flex justify-content-evenly" width="100%">
                <div class="footer2con d-flex align-items-baseline" style="vertical-align: baseline;">
                    <img src="{% static 'images/1.svg' %}" alt="">
                    <a href="">&nbsp Sell On G-mart</a>
                </div>
                <div class="footer2con d-flex align-items-baseline">
                    <img src="{% static 'images/2.svg' %}" alt="">
                    <a href="">&nbsp Advertise</a>
                </div>
                <div class="footer2con d-flex align-items-baseline">
                    <img src="{% static 'images/3.svg' %}" alt="">
                    <a href="">&nbsp Gift Cards</a>
                </div>
                <div class="footer2con d-flex align-items-baseline">
                    <img src="{% static 'images/4.svg' %}" alt="">
                    <a href="">&nbsp Help Center</a>
                </div>
                <div>
                    <p class="footer2con ">© 2007-2021 G-mart.com</p>
                </div>
                <div>
                    <img style="vertical-align:inherit" src="{% static 'images/5.svg' %}" alt="">
                </div>
            </div>
        </div>
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>